table{
    border-collapse: collapse;
    margin: auto;
}

body{
    background-color: darkgreen;
}

.a{
    text-align: center;
    font-size: 50px;
}

.b{
    text-align: center;
    font-size: 20px;
}

input{
    background-color: rgb(219, 100, 100);
    color: white;
    border: 1px solid white;
}

button{
    background-color: black;
    color: white;
}

td{
   border: 2px solid black;
   width: 100px;
   height: 100px;
   text-align: center;
   font-size: 36px;
   cursor: pointer; 
   background-color: white;
   color: black;
}

td:hover{
    background-color: red;
    cursor: pointer;
}
